.user-img img {
    width: 250px;
    border-radius: 50%;
    box-shadow: var(--main-shadow);
}

.user-bio h2{
    margin: 0;
}

.github-icon{
    width:25px
}

.user-bio {
    box-shadow: var(--main-shadow);
    padding: 25px 10px;
    border-radius: 10px;
    margin-top: 25px;
}

@media only screen and (max-width: 750px) {
    .user-info {
        text-align: center;
        padding-top: 50px;
    }

    .user-bio{
        margin: 0 auto;
        max-width: 85%;
        margin-top: 25px;

    }
}

@media only screen and (min-width: 760px) {
    .user-info {
        text-align: center;
        padding-right: 25px;
    }
}