@media only screen and (min-width: 760px) {
    .App {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;
    }
}

.App{
    --main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body{
    --color-main: #DB073D;
    --color-off: #31353d;
}

.error-msg{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    height: 25px;
}
.form button{
    border-radius: 5px;  
    width: 50px; 
    height: 40px;  
    font-size: 18px;
    border-width: 0px;
    
}

input{
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    height: 40px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;    width: 250px;
}
.user-img img {
    width: 250px;
    border-radius: 50%;
    box-shadow: var(--main-shadow);
}

.user-bio h2{
    margin: 0;
}

.github-icon{
    width:25px
}

.user-bio {
    box-shadow: var(--main-shadow);
    padding: 25px 10px;
    border-radius: 10px;
    margin-top: 25px;
}

@media only screen and (max-width: 750px) {
    .user-info {
        text-align: center;
        padding-top: 50px;
    }

    .user-bio{
        margin: 0 auto;
        max-width: 85%;
        margin-top: 25px;

    }
}

@media only screen and (min-width: 760px) {
    .user-info {
        text-align: center;
        padding-right: 25px;
    }
}

.repo-item{
    max-width: 240px;
    padding: 5px 25px;
    margin: 0 5px 10px 5px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
}

.repo-main{
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.repo-btncont{
    display: flex;
}

.external-icon{
    width: 20px;
    height: auto;
}

.github-icon-repo{
    width: 20px;
    height: auto;
}

.repo-btncont a{
    text-decoration: none;
}

.repo-button{
    padding-right: 5px;
}

@media only screen and (max-width: 750px) {
    .repo-item{
        max-width: 160px;
    }
    .repo-main{
        margin-top: 50px;
    }
}
