@media only screen and (min-width: 760px) {
    .App {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;

    }

}

.App{
    --main-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body{
    --color-main: #DB073D;
    --color-off: #31353d;
}

